/* =================================
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
  font-family: 'Helvetica', 'Arial', sans-serif;
  text-align: center;
}

h1 {
  font-size: 70px;
  font-weight: bold;
}



/* Main Styles --------------------- */

.main-header {
    background-image: url('../images/the-flatiron-building.png');
    color: #fff;
}

.btn-nav {
  font-size: 18px;
  color: #fff;
}
